<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Cadastro</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="formulario">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Entre com seu e-mail"  id="email" formControlName="email">
          <mat-error *ngIf="formulario.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
          <mat-form-field class="example-full-width">
          <input matInput placeholder="Entre com nome"  id="name" formControlName="name">
          <mat-error *ngIf="formulario.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="password" [type]="hide ? 'password' : 'text'" id="password" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Esconder password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" (click)="onSalvar()">Salvar</button>

    </form>
  </mat-card>

</div>
