<mat-sidenav-container>
  <mat-sidenav  #sidenav role="navigation">
    <mat-nav-list>

      <a mat-list-item
         *ngIf="!isAuthenticated()"
         (click)="login()">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">Login</span>
      </a>

      <a mat-list-item
         routerLink="/dashboard">
        <mat-icon class="icon">Consulta</mat-icon>
        <span class="label">Consulta</span>
      </a>
      <a  mat-list-item
          *ngIf="isAuthenticated()"
          (click)="logout()" type="button">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">LogOut</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a routerLink="/">
          Central Erros
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-start"  fxHide.xs>
      <span class="titulo">Bem vindo Usuário. Seu token é: {{token()}}</span>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a  routerLink="/"
              *ngIf="!isAuthenticated()"
              (click)="login()">
              <mat-icon class="icon">input</mat-icon>
              <span  class="label">Login</span>
            </a>
          </li>

          <li>
            <a
              routerLink="/dashboard">
              <mat-icon class="icon">Consulta</mat-icon>
              <span class="label">Consulta</span>
            </a>
          </li>
          <li>
            <a
              *ngIf="isAuthenticated()"
              (click)="logOff()" type="button"
            >
              <mat-icon class="icon">input</mat-icon>
              <span class="label">LogOut</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>

  </mat-sidenav-content>

</mat-sidenav-container>
<main>
   <router-outlet></router-outlet>
 </main>
